*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 10px 50px;
}

header{
  /* background-color: #ff33bb; */
  /* height: 80px; */
}

footer{
  background-color: #6600ff;
  height: 50px;
}

header img{
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

li{
  list-style: none;
  display: inline-block;
  padding: 20px 5px;
  color: grey;
}

.prima-sezione{
  /* background-color: #cccc00; */
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px 0px;
  height: 600px;
  position: relative;
}
.prima-sezione .primo-contenuto{
  width: 50%;
  position: absolute;
  bottom: 75px;
  left: 40px;
  z-index: 0;
}

.primo-contenuto h3{
  color: white;
  font-size: 45px;
}
.primo-contenuto p{
  color: white;
}

.prima-sezione .overlay{
  z-index: 1;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 600px;
}

.seconda-sezione{
  /* background-color: #0066ff; */
  margin-top: 10px;
  margin-bottom: 5px;
  /* height: 800px; */
}

.header-sezione{
  /* background-color:  #66b3ff; */
  /* height: 50px; */
  padding: 20px 0px;
}
.header-sezione h2{
  font-size: 35px;
}
.header-sezione p{
  color: white;
}


.colonna-sinistra .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */
}

.colonna-centro .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */
}

.colonna-destra .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */

}

.seconda-sezione .overlay{
  z-index: 1;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 250px;
}


.colonna-sinistra,
.colonna-centro,
.colonna-destra {
  /* background-color: #66b3ff; */
  float: left;
}

.colonna-sinistra,
.colonna-destra{
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 430px; */
}

.colonna-centro{
  width: calc(60vw - 120px);
  margin: 10px;
  /* height: 430px; */
}

.seconda-sezione h5{
  padding: 10px 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
