*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 10px 50px;
  font-family: 'Montserrat', sans-serif;
}

header{
  /* background-color: #ff33bb; */
  /* height: 80px; */
}

footer{
  /* background-color: #6600ff; */
  /* height: 50px; */
}

header img{
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

li{
  list-style: none;
  display: inline-block;
  padding: 20px 5px;
  color: #858585;
}

.prima-sezione{
  /* background-color: #cccc00; */
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px 0px;
  height: 600px;
  position: relative;
  border-radius: 20px;
}
.prima-sezione .primo-contenuto{
  width: 50%;
  position: absolute;
  bottom: 75px;
  left: 40px;
  z-index: 0;
}

.primo-contenuto h3{
  color: lightgrey;
  font-size: 45px;
}
.primo-contenuto p{
  color: lightgrey;
}

.prima-sezione .overlay{
  z-index: 1;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 600px;
  border-radius: 20px;
}

.seconda-sezione{
  /* background-color: #0066ff; */
  margin-top: 10px;
  margin-bottom: 5px;
  /* height: 800px; */
}

.header-sezione{
  /* background-color:  #66b3ff; */
  /* height: 50px; */
  padding: 20px 0px;
}
.header-sezione h2{
  font-size: 35px;
}
.header-sezione p{
  color: grey;
}


.colonna-sinistra .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  border-radius: 20px;
}

.colonna-centro .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  border-radius: 20px;
}

.colonna-destra .container{
  height: 250px;
  width: 100%;
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  border-radius: 20px;

}

.seconda-sezione .overlay{
  z-index: 1;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 250px;
  border-radius: 20px;
}


.colonna-sinistra,
.colonna-centro,
.colonna-destra {
  /* background-color: #66b3ff; */
  float: left;
}

.colonna-sinistra,
.colonna-destra{
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 430px; */
}

.colonna-centro{
  width: calc(60vw - 120px);
  margin: 10px;
  /* height: 430px; */
}

.contenuto-colonna-laterale h5,
.contenuto-colonna-centrale h5{
  padding: 10px 0px;
}

.seconda-sezione h5,
.seconda-sezione p{
  color: #929292;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}


footer #testo{
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  padding: 20px 0px;
}
#cuore{
  color: red;
}
/* .container{
  border: 1px solid black;
  border-radius: 30px;
} */
